.logo-img {
    // max-height: 50px
}
.brand {
    text-align: center;
}
.adv-opt-link{
    // here style for content under search bar
    width: 102%;
    .eg-text{
        // here style for examples under search bar
    }
    .adv-text {
        // here style for Advanced Options link
        text-align: right;
        color: #18BC9C !important;
        padding: 0;
        cursor: pointer;
        i {
            width: 1em
        }
    }
    .adv-text:hover {
        color: #0f7864 !important;
    }    
}

.adv-opt-div{
    border-top: 1px solid #999999;
    position: absolute;
    transition: all 1s;
    width: 100%;
}

.no-results-block{
    position: absolute;
    z-index: 2;
    div {
        width: 100%;
        margin-top: -2px;
        border-bottom-right-radius: 0.25rem;
        border-bottom-left-radius: 0.25rem;
        text-align: center;
        position: absolute;
        background-color: white
    }
}

.search-box{
    z-index: 3;
}

.typeahead{
    list-style-type: none;
    padding: 0;
    margin-bottom: 1vh;
    text-align: left;
    a {
        display: block;
        text-decoration: none !important;
        color: #333333;
    }
}