.sentence-table {
    table-layout: initial;
    width: 100%;
    tr {
        th {
            white-space: nowrap;
            display: inline;
            margin-right: 0.5em;
            font-weight: normal;
        }
        td  {
            width: 100%
        }
    }
}