.details-links {
    list-style-type: none;
    padding-left: 1em;
    li {
        text-decoration: none;
    }
}
.sentence-container {
    table {
        div {
            margin-bottom: 1em;
        }
    }
}